---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import BriefCaseIcon from "@/components/icons/BriefCase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Contact from "@/components/Contact.astro";
import Experience from "@/components/Experience.astro";
import Introduction from "@/components/Introduction.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import PhoneIcon from "@/components/icons/Phone.astro";
import UserIcon from "@/components/icons/User.astro";
---

<Layout
  title="Portfolio de Leandro - Desarrollador y Programador Web"
  description="Contrata a Leandro para crear tu aplicación web o celular. Desarrollador web y Programador especializado en crear páginas únicas."
>
  <main class="px-4">
    <SectionContainer id="top" class="py-44 pb-32">
      <Introduction />
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefCaseIcon class="size-7" />
        Experienca Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about-me">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <UserIcon class="size-7" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="contact">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <PhoneIcon class="size-7" />
        Contacto
      </h2>
      <Contact />
    </SectionContainer>
  </main>
</Layout>
