---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import BriefCaseIcon from "../components/icons/BriefCase.astro";
import Experience from "../components/Experience.astro";
---

<Layout
  title="Portfolio de Leandro - Desarrollador y Programador Web"
  description="Contrata a Leandro para crear tu aplicación web o celular. Desarrollador web y Programador especializado en crear páginas únicas."
>
  <main>
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full size-12 mb-2"
        src="/Leandro.jpg"
        alt="Leandro Eraso photo"
      />
      <h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, soy Leandro <a
          href="https://www.linkedin.com/in/leaeraso"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl opacity-80 text-wrap">
        <span>Desarrollador Web y Programador Frontend.</span>
        <span class="text-blue-300/90">De Mendoza, Argentina.</span>
        <span class="text-yellow-200/90">
          Especializado en crear páginas web únicas.
        </span><span class="opacity-75">
          Comprometido con la mejora continua y la entrega de proyectos de alta
          calidad.
        </span>
      </h2>

      <nav class="flex gap-x-4 mt-8">
        <SocialPill href="https://www.linkedin.com/in/leaeraso">
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Leaeraso">
          <GitHubIcon class="size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="https://github.com/Leaeraso">
          <MailIcon class="size-6" />
          leaeraso@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer>
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefCaseIcon class="size-7" />
        Experienca Laboral
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
