---
import LinkButton from "./LinkButton.astro";
---

<section class="flex flex-col">
  <h2 class="text-3xl font-semibold">Contactame!</h2>
  <div class="grid mb-6 gap-6">
    <form action="#">
      <div>
        <label for="fullname" class="block mt-4 mb-1 text-md text-white/80">
          Nombre completo
        </label>
        <input
          type="text"
          id="fullname"
          class="bg-gray-100 text-black/70 border border-gray-100 rounded-lg text-md p-1 block w-full py-2 px-2"
          placeholder="Juan"
          required
        />
      </div>
      <div>
        <label for="Subject" class="block mt-4 mb-1 text-md text-white/80">
          Tema
        </label>
        <input
          type="text"
          id="subject"
          class="bg-gray-100 text-black/70 border border-gray-100 rounded-lg text-md p-1 block w-full py-2 px-2"
          placeholder="Proceso de contratación"
          required
        />
      </div>
      <div>
        <label for="email" class="block mt-4 mb-1 text-md text-white/80">
          Correo electronico
        </label>
        <input
          type="email"
          id="email"
          class="bg-gray-100 text-black/70 border border-gray-100 rounded-lg text-md p-1 block w-full py-2 px-2"
          placeholder="juan@gmail.com"
          required
        />
      </div>
      <div>
        <label for="message" class="block mt-4 mb-1 text-md text-white/80">
          Tu mensaje
        </label>
        <textarea
          id="textarea"
          class="bg-gray-100 text-black/70 border border-gray-100 rounded-lg text-md p-1 block w-full py-2 px-2"
          cols="2"
          rows="4"
          placeholder="Escribe tus pensamientos"
        >
        </textarea>
      </div>
      <div class="flex items-center justify-center w-full mt-5">
        <button
          type="submit"
          class="text-white/90 bg-blue-300/90 text-sm font-medium rounded-lg w-[300px] py-2"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
</section>
