<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto border-b-2 border-b-white/10"
  id="header"
>
  <span></span>

  <nav class="flex flex-row gap-x-6 md:gap-x-10 opacity-80">
    <a href="/#top" class="hover:underline text-md lg:text-lg">Inicio</a>
    <!-- <a href="/#experience" class="hover:underline text-md lg:text-lg">
      Experiencia
    </a> -->
    <a href="/#projects" class="hover:underline text-md lg:text-lg">
      Projectos
    </a>
    <a href="/#about-me" class="hover:underline text-md lg:text-lg">Sobre mí</a>
    <!-- <a href="/#contact">Contacto</a> -->
  </nav>
</header>
